#gameboard {
  width: 480px;
  height: 480px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
}

.playerWrap {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 1.5rem 0;
  font-size: 20px;
  width: 480px;
  text-align: center;
}

.square {
  height: 60px;
  width: 60px;
  position: relative;
}

.square svg {
  height: 40px;
  width: 40px;
  margin: 10px;
  position: relative;
  z-index: -1;
}

path {
  position: relative;
  z-index: -2;
}

.piece {
  position: relative;
  z-index: 2;
}

#reset {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-color: black;
  color: white;
}

#reset:hover {
  cursor: pointer;
}

#info-display {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5rem;
  width: 480px;
}
